<app-detail-list class="sale-product-container mat-elevation-z8" [salesProduct]="salesProduct"
  (deleteSaleProduct)="deleteSaleProduct($event)" (updateSaleProduct)="updateSaleProduct($event)"
  [totalUnitaryValue]="getTotalUnitaryValue()" [totalValue]="getTotalValue()" [totalValueIVA]="getTotalValueIVA()"
  [totalProducts]="getTotalProducts()" [sumQuantity]="getSumQuantity()"></app-detail-list>
<app-sale-detail-stepper class="settings-sale-container mat-elevation-z8" [countProducts]="getTotalQuantity()"
  [totalValue]="getTotalValue()" [totalValueIVA]="getTotalValueIVA()" [totalProducts]="getTotalProducts()" [sumQuantity]="getSumQuantity()"
  (finishSale)="sendSale($event)" (inlogistic)="infologistic()">
</app-sale-detail-stepper>
