<div class="flex-container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayout.xs="column">
        <div class="product-name">
          {{saleProduct.DescripcionProducto}} - {{saleProduct.UnidadPresentacion}}
        </div>
        <div>
          Cantidad: {{saleProduct.Cantidad}}
        </div>
        <div>
          Valor Unitario: {{saleProduct.ValorUnitario | currency}}
        </div>
        <div>
          Valor Bruto: {{saleProduct.ValorBruto | currency}}
        </div>
        <div>
          Valor IVA: {{saleProduct.ValorIva | currency}}
        </div>
        <div>
          Total: {{saleProduct.TotalPedidoArticulo | currency}}
        </div>
        <div>
          Descuento: {{saleProduct.DescuentoEscala}}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" class="white-text" (click)="deleteSaleProductList()">Quitar del
        carrito</button>
    </mat-card-actions>
  </mat-card>
</div>
