<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
  <ng-container *ngFor="let product of products | search : searchText">
    <product-item fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"
      [product]="product" [isSustitute]="isSustitute" (addProduct)="addProductList($event)" (deleteProduct)="deleteProductList($event)"
      (openDialogSustProd)="openDialogSustProd($event)">
    </product-item>
  </ng-container>
</div>
