<div class="dialog-content-wrapper-susti">
    <mat-toolbar class="mat-primary m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span>Productos sustitutos</span>
            <button mat-icon-button  (click)="closeDialog()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
        <products-item-list [products]="products" [isSustitute]="isSustitute" (insertProduct)="insertProduct($event)"
            (deleteProduct)="deleteProduct($event)">
        </products-item-list>
    </div>
</div>