.icon {
  padding: 0 14px;
}

mat-toolbar {
  z-index: 100;
  width: 100%  !important;

  
}

.form-field {
  width: 100%;
  margin: 5em; 
}


.mtformStyle{
  width: 18px;
}

.spaStyle{
  font-size: 15px;
}

.mtsearchStyle{
  text-align: center;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.divCategories{
  position: relative;
   margin-top: 20px; 
   margin-left: 20px;
}

.LabelCategories{
  font-size: 0.85em;
}

.matSelectFont{
  font-size: 19px;
}

.matOptionFont{
  font-size: 20px;
}

.inputSearchProduct{
  position: relative; 
  margin-left: 5px;
}


