<mat-toolbar >

  <div fxFlex="20%" fxLayoutGap="20px" class="divCategories">
    <mat-form-field >
      <mat-label class="LabelCategories">Filtrar por grupo</mat-label>
      <mat-select [formControl]="categori" multiple (ngModelChange)="getSelectedCategories(categori)" class="matSelectFont">
        <mat-select-trigger>
          {{categori.value?.length > 0 ? categori.value[0].DescripGrupo : ''}}
          <span *ngIf="categori.value?.length > 1" class="example-additional-selection">
            (+{{categori.value.length - 1}} {{categori.value?.length === 2 ? 'categoria' : 'categorias'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let categorie of categories" [value]="categorie" class="matOptionFont">
          <h6>{{categorie.DescripGrupo}}</h6>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="form-field" fxFlex="50%">
      <mat-icon style="position: relative; top: 5px;">search</mat-icon>
      <input matInput type="text" placeholder="Buscar producto" [(ngModel)]="searchText" (keyup)="getSearch($event)" class="inputSearchProduct">
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="cancelSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  <div fxFlex="20%">
    <button mat-menu-item (click)="redirectToProducts()">
      <mat-icon [matBadge]="productsAddedQuantity">add_shopping_cart</mat-icon>
      <span>Mis productos</span>
    </button>
  </div>
    
  




</mat-toolbar>