<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>¡Ups!</h3>
            <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h3>Lo sentimos, pero la pagina que buscas no se ha encontrado</h3>
    </div>
</div>