<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

<!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->

<mat-card class="box">
    
    <!--
    <mat-card-header>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    -->

    <img mat-card-image src="assets/LogoCustomer.png" alt="El Trece">

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="Login()">
    <mat-card-content>
        <mat-form-field class="login-full-width">
        <input matInput placeholder="Usuario" formControlName="user" type="text">
        </mat-form-field>

        <mat-form-field class="login-full-width">
        <input matInput placeholder="Clave" formControlName="password" type="password">
        </mat-form-field>
    </mat-card-content>
    <button mat-stroked-button [disabled]="logging" color="accent" class="btn-block" type="submit">Ingresar</button>
    </form>
</mat-card>

</div>