table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  
  .button-margin {
    margin-left: 10px;
  }
  
  .quantity-input {
    width: 70px;
  }
  
  input {
    text-align:center;
  }

 .example-card {
    max-width: 1200px;
    
  }
