<mat-card>
    <mat-card-title>
        <h5>Historial de pedidos:</h5>
    </mat-card-title>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let historicalOrder of historicalOrders">
                <mat-expansion-panel-header (click)="showDetailsOrder(historicalOrder)">
                    <mat-panel-title>
                        Fecha pedido: {{historicalOrder.fecha_pedido}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Hora: {{historicalOrder.hora_final}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Total pedido: {{historicalOrder.total_pedido }}
                    </mat-panel-title>
                    <mat-panel-title>
                        Valor pedido: {{historicalOrder.valor_pedido | currency}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form>
                    <table mat-table [dataSource]="detailOrderr">
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Nombre producto </th>
                            <td mat-cell *matCellDef="let detailOrder"> {{detailOrder.descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="UnidadPresentacion">
                            <th mat-header-cell *matHeaderCellDef> Unidad Presentacion </th>
                            <td mat-cell *matCellDef="let detailOrder"> {{detailOrder.UnidadPresentacion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let detailOrder"> {{detailOrder.cantidad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valor_unitario">
                            <th mat-header-cell *matHeaderCellDef> Valor unitario </th>
                            <td mat-cell *matCellDef="let detailOrder"> {{detailOrder.valor_unitario | currency }} </td>
                        </ng-container>
                        <ng-container matColumnDef="vlr_iva">
                            <th mat-header-cell *matHeaderCellDef> Valor iva </th>
                            <td mat-cell *matCellDef="let detailOrder"> {{detailOrder.vlr_iva | currency}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total_pedido_articulo">
                            <th mat-header-cell *matHeaderCellDef> Valor total </th>
                            <td mat-cell *matCellDef="let detailOrder"> {{detailOrder.total_pedido_articulo | currency}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>