<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>

    <ng-container>
      <mat-nav-list>
        <button mat-menu-item [routerLink]="['TomaPedido']">
          <mat-icon>unarchive</mat-icon>
          <span>Pedido</span>
        </button>
        <button mat-menu-item [routerLink]="['HistoricoPedidos']">
          <mat-icon>receipt</mat-icon>
          <span>Historial de compras</span>
        </button>
        <button mat-menu-item (click)="logOutSale()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-nav-list>
    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" style="display: flex;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="filler"></span>
      <mat-menu #appMenu="matMenu">
        <mat-menu #appMenu="matMenu">
          <mat-list>
            <mat-list-item>
              <h4>Nit:</h4>
              <p>&nbsp; {{customerData?.nit}}
            </mat-list-item>
            <mat-list-item>
              <h4>Cedula:</h4>
              <p>&nbsp; {{customerData?.cedula}}
            </mat-list-item>
            <mat-list-item>
              <h4>Razon social:</h4>
              <p>&nbsp; {{customerData?.razon_social}}
            </mat-list-item>
            <mat-list-item>
              <h4>Direccion:</h4>
              <p>&nbsp; {{customerData?.direccion}}
            </mat-list-item>
            <mat-list-item>
              <h4>Telefono:</h4>
              <p>&nbsp; {{customerData?.telefono}}
            </mat-list-item>
          </mat-list>
        </mat-menu>
      </mat-menu>
      <mat-menu #logisticMenu="matMenu">
        <mat-menu #logisticMenu="matMenu">
          <mat-list>
            <mat-list-item>
              <div fxLayout="row" fxFlex="1 0 0">
                <div fxFlex="40%">
                  <h4>Logistica de pedido:&nbsp;</h4>
                </div>
                <div fxFlex="40%">
                  <p>{{wareHouseName}}</p>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div fxLayout="row" fxFlex="1 0 0">
                <div fxFlex="40%">
                  <h4>Logistica de entrega:&nbsp;</h4>
                </div>
                <div fxFlex="40%">
                  <p>{{nameOrderLogistic}}</p>
                </div>
              </div>

            </mat-list-item>
            <mat-list-item>
              <h4>Fecha:&nbsp;</h4>
              <p>&nbsp; {{dateLogistic | date: 'yyyy/MM/dd' }}
            </mat-list-item>
          </mat-list>
        </mat-menu>
      </mat-menu>
      <button mat-icon-button matTooltip="información de logistica" [matMenuTriggerFor]="logisticMenu">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <!--No es necesario pero daña en estilo?-->
      <mat-menu #account="matMenu">
      </mat-menu>

    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>