<mat-vertical-stepper linear="true" #stepper>

  <!--
<mat-step>
    <ng-template matStepLabel>Logística de Pedido</ng-template>
    <mat-form-field>
      <mat-label>Recoger en</mat-label>
      <mat-select name="wareHouse" required ngModel #wareSelect="ngModel">
        <mat-option *ngFor="let wareHouse of wareHouses" [value]="wareHouse.code">
          {{wareHouse.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-step>
  -->
  
<!-- -------------------------     ----------------------------------------->

  <mat-step>
    <ng-template matStepLabel>Verificación</ng-template>

    <mat-form-field class="observation-full-width">
        <textarea matInput placeholder="Observación del pedido:" [(ngModel)]="observationText" [maxlength]="maxlengthObservation"></textarea>
        <mat-hint align="end">{{observationText.length}}/{{maxlengthObservation}}</mat-hint>
      </mat-form-field>
    <mat-card>
      <mat-card-content fxLayout="column wrap" fxLayoutGap="8px">
        <mat-card-subtitle>Cantidades Pedidas: {{ sumQuantity }}</mat-card-subtitle>
        <mat-card-subtitle>Valor Productos sin IVA: {{totalValue | currency }}</mat-card-subtitle>
        <mat-card-subtitle>Valor IVA: {{totalValueIVA | currency }}</mat-card-subtitle>
        <mat-card-subtitle>Numero de productos agregados: {{countProducts}}</mat-card-subtitle>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Total a Pagar {{totalProducts | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Finalización</ng-template>
    <p *ngIf="(countProducts > 0)">¡Tu pedido está listo para ser enviado!</p>
    <div>
      <button [disabled]="!(countProducts > 0)" mat-button matStepperPrevious mat-raised-button color="accent"  (click)="sendSale(observationText)">Enviar Pedido</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
