<div class="cont">
    <mat-form-field appearance="outline">
        <mat-label>Agregar producto</mat-label>
        <mat-select (selectionChange)="newSusProd($event.value)">
            <mat-option *ngFor="let product of products" [value]="product.idProduct" >
                {{product.descp}}
            </mat-option>
        </mat-select>
    </mat-form-field>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
            <ng-container *ngFor="let sustituteProd of sustituteProds">
                <div fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(33.3% - 32px)" fxFlex.lt-sm="100%">
                    <div class="flex-container" style="margin: 1em;">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title class="title">{{sustituteProd.descp}}</mat-card-title>
                            </mat-card-header>
                            <div class="container">
                                <img mat-card-image src="{{sustituteProd.PathImage}}" alt="{{sustituteProd.ImageDesc}}"
                                    class="image">
                                <div class="middle">
                                    <button mat-mini-fab color="warn" matTooltip="remover producto" (click)="removeSusProd(sustituteProd.idSustProd)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </ng-container>
        </div>
</div>