<div>
  <table mat-table [dataSource]="salesProduct">

    <ng-container matColumnDef="DescripcionProducto">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let saleProduct"> {{saleProduct.DescripcionProducto}} -
        {{saleProduct.UnidadPresentacion}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let saleProduct">
        <mat-form-field class="quantity-input">
          <input matInput type="number" [min]="minQuantity" [max]="maxQuantity" #Quantity
            [value]="saleProduct.Cantidad">
        </mat-form-field>
        <ng-container *ngIf="!Quantity.value">
          <mat-error>Ingresar</mat-error>
        </ng-container>
        <ng-container *ngIf="Quantity.value && Quantity.value != saleProduct.Cantidad">
          <button class="button-margin" mat-raised-button color="warn" (click)="updateSaleProductOfList(saleProduct,Quantity.value)">Actualizar</button>
        </ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ sumQuantity }} </td>
    </ng-container>

    <ng-container matColumnDef="ValorUnitario">
      <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
      <td mat-cell *matCellDef="let saleProduct"> {{saleProduct.ValorUnitario | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ totalUnitaryValue | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="ValorBruto">
      <th mat-header-cell *matHeaderCellDef> Valor Bruto </th>
      <td mat-cell *matCellDef="let saleProduct"> {{saleProduct.ValorBruto | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ totalValue | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="ValorIva">
      <th mat-header-cell *matHeaderCellDef> Valor IVA </th>
      <td mat-cell *matCellDef="let saleProduct"> {{saleProduct.ValorIva | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ totalValueIVA | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="TotalPedidoArticulo">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let saleProduct"> {{saleProduct.TotalPedidoArticulo | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ totalProducts | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="DeleteOption">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let saleProduct">
        <button mat-icon-button aria-label="Eliminar Producto" (click)="deleteSaleProductOfList(saleProduct)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>
