<div class="style">
        <div style="text-align: center;">
                <p>
                    <mat-form-field appearance="legacy">
                        <input matInput name="filterUser" placeholder="Buscar..." [(ngModel)]="filterUser">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </p>
            </div>
            <main>
                <div fxLayout="column" fxLayoutGap="8px" fxFlex="60%" fxFlexOffset="20">
                    <mat-card *ngFor="let products of productsImg | filterImagesP:filterUser " fxLayout="row wrap" fxLayoutGap="100px">
                        <div fxFlex="10%">
                            <img mat-card-image
                                [src]="products.Ruta ? products.Ruta : 'https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg'"
                                 style="margin-left: 20px; margin-right: auto;  position: relative; margin-top: 
                              15px; object-fit: cover; width: 100%; height: 70%;">
                        </div>
                        
                        <div fxFlex="60%">
                            <h4>{{products.descripcion}}</h4>
                            <div fxLayout="row" fxLayoutGap="20px">
                                <input #fileInput type="file" accept="image/*" (change)="onFileChanged(fileInput, products.id_producto)" style="display: none;" name="mi_archivo">
                                <button mat-raised-button color="primary" (click)="fileInput.click()">
                                    <mat-icon>attach_file</mat-icon>
                                    Seleccionar imagen
                                </button>
                                <button mat-raised-button color="primary" (click)="openDialogProdSus(products.id_producto)">
                                    <mat-icon>cake</mat-icon>
                                    productos sustituos
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </main>
</div>

