
.mat-dialog-container {
    padding: 0;
    background-color:#fafafa;
}

.dialog-content-wrapper-susti {
  display: flex;
  flex-direction: column;
}

.cont{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.bold{
    font-weight: bold;
}

.steep{
   position: relative;
   bottom: 20px;
}

#stepper{
    background-color: black;
}
