<div class="dialog-content-wrapper-susti">
    <mat-toolbar class="mat-primary m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span>Logistica</span>
            <button mat-icon-button matTooltip="Cerrar sesión" (click)="logout()">
                <mat-icon>
                    exit_to_app
                </mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- info cliente -->
    <div class="content cont" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">

        <div fxFlex="70%" fxLayout="column" fxLayoutGap="-10px">

            <div fxLayout="row" fxFlex="1 0 auto">
                <mat-chip-list>
                    <mat-chip color="primary" selected>Información de cliente</mat-chip>
                </mat-chip-list>
            </div>

            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Nit:</p>
                </div>
                <div>
                    <p>{{customerData?.nit}}</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Cedula: </p>
                </div>
                <div>
                    <p>{{customerData?.cedula}}</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Razon social: </p>
                </div>
                <div>
                    <p>{{customerData?.razon_social}}</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Dirección: </p>
                </div>
                <div>
                    <p>{{customerData?.direccion}}</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Telefono: </p>
                </div>
                <div>
                    <p>{{customerData?.telefono}}</p>
                </div>
            </div>

        </div>

        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="-25px">
            <div fxLayout="row" fxFlex="1 0 auto">
                <mat-chip-list>
                    <mat-chip color="primary" selected>Estado del crédito</mat-chip>
                </mat-chip-list>
            </div>

            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Cupo: </p>
                </div>
                <div>
                    <p>{{customerData?.cupo | currency}}</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Cupo disponible: </p>
                </div>
                <div>
                    <p>{{customerData?.CupoDisponible | currency}}</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="5px">
                <div class="bold">
                    <p>Cupo utilizado: </p>
                </div>
                <div>
                    <p>{{customerData?.CupoUtilizado | currency}}</p>
                </div>
            </div>

        </div>

    </div>
    <!--  -->

    <!-- stteper -->
    <div class="content cont" fxFlex="1 0 auto">
        <div fxLayoutAlign="center center">
            <mat-chip-list>
                <mat-chip color="primary" selected>Logística de Pedido</mat-chip>
            </mat-chip-list>
        </div>
        <mat-horizontal-stepper linear #stepper style="background-color: #fafafa; border: solid 1px gainsboro; margin-top: 5px; border-radius: 3px; margin-bottom: 10px;">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Logística de Pedido</ng-template>
                    <mat-form-field>
                        <mat-label>almacen</mat-label>
                        <mat-select required formControlName="wareHouses">
                            <mat-option *ngFor="let wareHouse of wareHouses" [value]="wareHouse.code">
                                {{wareHouse.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-icon-button color="primary" matStepperNext>
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Logística de entrega</ng-template>
                    <div class="secondGroup" fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field>
                            <mat-label>Recoger o domicilio</mat-label>
                            <mat-select required formControlName="orderLogistic" required>
                                <mat-option *ngFor="let orderLogistic of orderLogistics" [value]="orderLogistic.code">
                                    {{orderLogistic.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Campo requerido</mat-error>
                        </mat-form-field>
                        <div fxLayout="row">
                            <div>
                                <mat-form-field appearance="outline" *ngIf="orderLogistic.value == 1">
                                    <mat-label>Fecha de recogida</mat-label>
                                    <input matInput [min]="minDate" [matDatepicker]="dp1"
                                        formControlName="collectedDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                    <mat-error>Por favor, selecciona una fecha de recogida</mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-icon-button color="primary" matStepperNext
                                    style="position: relative; top: 11px;">
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Ir</ng-template>
                <div class="confirmGroup">
                    <button mat-icon-button color="primary" (click)="confirmLogistic()">
                        <span>Confirmar</span>
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </div>
    <!--  -->
</div>