<ng-container *ngIf="isLoad">
  <div class="loading">
      <mat-spinner>
      </mat-spinner>
  </div>
</ng-container>
<app-toolbar [productsAddedQuantity]="productsAdded" [categories]="categories" (sendText)="searchTextInList($event)"  (logOut)="logOutSale()" 
(goToProducts)="redirectToProducts()" (categorie)="getSelectedCategories($event)"></app-toolbar>

<products-item-list [products]="products" [isSustitute]="isSustitute" [searchText]="searchText" (insertProduct)="insertProduct($event)"
  (deleteProduct)="deleteProduct($event)" (openDialogSustProduct)="openDialogSustProduct($event)">
</products-item-list>
