<div class="flex-container">
  <mat-card>
    <mat-card-content fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="start">
      <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="start start">
        <div fxFlex fxFlexOffset="3" fxLayout="column">
          <div class="product-accent">
            {{product.DescripcionProducto}}
          </div>
          <img mat-card-image src="{{product.PathImage}}" alt="{{product.ImageDesc}}">
        </div>
        <div fxFlex="70%" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" style="width: 60%;">
            <div class="product-accent">
              Inventario: &nbsp;
            </div>
            <div [ngStyle]="{'color': inventary === '0' ? 'red' : 'green' }">
              {{inventary}}
            </div>
          </div>
          <mat-form-field class="input-margin" style="width: 60%;">
            <mat-label>Presentación</mat-label>
            <mat-select [(ngModel)]="presentation" (selectionChange)="checkPresentation()">
              <mat-option *ngFor="let presentacion of product.Presentaciones" [value]="presentacion">
                {{presentacion.UnidadPresentacion}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 60%;">
            <input matInput type="number" [min]="minQuantity" [max]="maxQuantity" placeholder="Cantidad"
              [(ngModel)]="quantity" [disabled]="presentation.CantidadAgregada > 0">
            <button mat-button *ngIf="quantity" matSuffix mat-icon-button aria-label="Clear"
              [disabled]="presentation.CantidadAgregada > 0" (click)="quantity=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div fxFlex="30%">
          <button *ngIf="isSustitute" mat-icon-button matTooltip="Seleccionar producto sustituto" class="btnSusti" (click)="openDialogProdSus(product.IdProducto)">
            <mat-icon>unarchive</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="desc-sale-product-accent">
          Precio sin IVA:
        </div>
        <div class="desc-sale-product">
          {{presentation.PrecioVenta | currency}}
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="desc-sale-product-accent">
          Valor IVA:
        </div>
        <div class="desc-sale-product">
          ({{product.IVA}}%) : {{ getValorIVA() | currency}}
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="desc-sale-product-accent">
          Precio con IVA:
        </div>
        <div class="desc-sale-product">
          {{presentation.PrecioVentaIVA | currency}}
        </div>
      </div>
      <mat-card-actions fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center">
        <ng-container *ngIf="presentation.CantidadAgregada > 0">
          <button mat-flat-button color="accent" class="white-text" (click)="delete()" style="width: 90%;">
            Quitar del carrito
            <mat-icon> remove_shopping_cart</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="presentation.CantidadAgregada == 0">
          <button mat-flat-button color="primary" class="white-text" (click)="checkData()" style="width: 90%;">
            Agregar al carrito
            <mat-icon>add_shopping_cart </mat-icon>
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>