.product-accent {
  font-weight: bold;
  font-size: 12px;
}

.desc-sale-product-accent{
  font-weight: bold;
  font-size: 15px;
}

.desc-sale-product{
  font-size: 15px;
}

.flex-container {
  margin: 1em;
}

mat-card {
  text-align: center;
}

mat-card img{
  object-fit: cover;
  width: 140px;
  height: 140px;
  position: relative; 
  margin-top: 1rem;
}

input {
  text-align: center;
}

.input-margin {
  margin-top: 10px;
}

.white-text {
  color: white;
  margin-bottom: 10px;
}

.btnSusti{
  position: relative;
  bottom: 10px;
  left: 3px;
}

