
@import '~@angular/material/theming';
@include mat-core();

//colorPrimary: #ef7b13", colorSecondary: "#2e9e31", colorTertiary: "#FAD008", colorQuaternaryLight"#FF5E4F"]

$PedidosElTrece-primary: (
    50 : #fdefe3,
    100 : #fad7b8,
    200 : #f7bd89,
    300 : #f4a35a,
    400 : #f18f36,
    500 : #ef7b13,
    600 : #ed7311,
    700 : #eb680e,
    800 : #e85e0b,
    900 : #e44b06,
    A100 : #ffffff,
    A200 : #ffe3d9,
    A400 : #ffbda6,
    A700 : #ffaa8c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$PedidosElTrece-accent: (
    50 : #e6f3e6,
    100 : #c0e2c1,
    200 : #97cf98,
    300 : #6dbb6f,
    400 : #4dad50,
    500 : #2e9e31,
    600 : #29962c,
    700 : #238c25,
    800 : #1d821f,
    900 : #127013,
    A100 : #a6ffa7,
    A200 : #73ff74,
    A400 : #40ff42,
    A700 : #26ff29,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$PedidosElTrece-warn: (
    50 : #fce4e5,
    100 : #f7bcbe,
    200 : #f18f92,
    300 : #eb6266,
    400 : #e74046,
    500 : #e31e25,
    600 : #e01a21,
    700 : #dc161b,
    800 : #d81216,
    900 : #d00a0d,
    A100 : #fffbfb,
    A200 : #ffc8c8,
    A400 : #ff9596,
    A700 : #ff7b7d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($PedidosElTrece-primary);
$accent: mat-palette($PedidosElTrece-accent);
$warn: mat-palette($PedidosElTrece-warn);
$PedidosElTrece-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($PedidosElTrece-theme);

